 
body { 
      background: #141E30;
  　  line-height: 24px;
      font-family: Georgia;
      color: #FFF;
      margin: 5px 10px 20px 20px;
    }

.profile_png {
     margin-left: auto;
}

a {
  color: #0FF;
 }

p { 
 font-size: 18px;
 }

.menu a {

 }

ul li {
  padding-top:10px;
  padding-bottom:10px;
}
