 
body { 
      background: #141E30;
  　  line-height: 24px;
      font-family: Georgia;
      color: #FFF;
    }

.profile_img {
     float: right; 
}

a {
  color: #0FF;
 }

p { 
 font-size: 18px;
 }

.menu a {
 border: 1px solid white;
 }
