 
body { 
      background: #141E30;
  　  line-height: 24px;
      font-family: Georgia;
      color: #FFF;
      margin: 5px 10px 40px 20px;
    }

¥
.profile_png {
　　　float: right;
     margin-left: 00px;
}

a {
  color: #0FF;
 }

p { 
 font-size: 18px;
 }

.menu a {

 }

ul li {
  padding-top:10px;
  padding-bottom:10px;
}

.programming ul {
 list-style-type: disc;
 }
 
 
.programming li {
 display: inline;
}

#research_interest li {
 display: inline;
}

#research_interest ul {
  list-style-type: disc;
 }


